header {
    border: 1px solid black;
    /* position: fixed; */
    width: 100%;
    /* justify-items: center; */
    text-align: center;
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
}

#content {
    border: solid 1px black;
    height: 100vh;
    width: 100vw;
}

.buttonDiv {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.calendar-day {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.calendar-day.empty {
    background-color: transparent;
    border: none;
}

.calendar-day.priority-low {
    background-color: #9acd32; /* Green */
}

.calendar-day.priority-moderate {
    background-color: #ffa500; /* Orange */
}

.calendar-day.priority-high {
    background-color: #ff6347; /* Red */
}

.calendar-day.multiple-tasks {
    background-color: #1e90ff; /* Blue */
}
